$color-primary: #353353;
$color-primary-dark: #302F4E;
$color-primary-light: #8B88B1;
$color-secondary: rgb(255, 76, 96);
$color-tertiary: rgb(255, 209, 92);
$color-purple: rgb(108, 108, 229);
$color-white: #fff;
$color-icons: #ffd15c;

// fonts
$font-primary: 1.6rem