.u-margin-bottom-big {margin-bottom: 10rem;}


.u-margin-bottom-small {margin-bottom: 1rem;}

.u-margin-bottom-medium {margin-bottom: 5rem;}

.u-margin-right-small {margin-right: 1.5rem;}

.u-margin-top-medium {margin-top: 5rem;}